body, html {
  margin: 0;
}

.DemoNav {
  background-color: #00050A;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 1;
}

.DemoNav * {
  box-sizing: border-box;
}

.DemoNav a {
  transition: all .15s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.DemoNav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.DemoNav-logo,
.DemoNav-buttons {
  width: 280px;
}

.DemoNav-logo {
  fill: #fff;
}

.DemoNav-logo svg {
  display: block;
}

.DemoNav-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  outline: none;
  text-align-last: center;
  padding: 8px 0;
  border-radius: 100px;
  cursor: pointer;
}

.DemoNav-mobileOnly {
  display: none;
}

@media only screen and (max-width: 720px) {
  .DemoNav-mobileOnly {
    display: block;
  }
}

.DemoNav-buttons {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 720px) {
  .DemoNav-buttons {
    display: none;
  }
}

.DemoNav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border: 1px solid transparent;
  text-align: center;
  padding: 0 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  margin-left: 4px;
  white-space: nowrap;
}

.DemoNav-button-primary {
  border-color: #fff;
}

.DemoNav-button-primary:hover {
  background-color: #fff;
  color: #00050A;
}

.DemoNav-button-secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
